

div {
    font-family: arial, sans-serif;
    font-size: 13px;
    

}

.navbar {
    display: inline;
    position: absolute;
    top: -295px;
    right: 0;
    width: 100%;
    color: aqua;
}

li {
    float: left;
    text-align: center;

}

.cenImage {
    position: center;
}

.search {
    position: absolute;
}

.footer {
    position: fixed;
    bottom: 0;
}