
p {
    color: purple;
}

div {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: purple;
    box-align: right;

}

.navbar {
    display: inline;
    position: absolute;
    top: -295px;
    right: 0;
    width: 100%;
    color: rgb(255, 0, 0);
}

li {
    font-size: 10pt; 
    text-align: left;
    color:#550055;  
    font-family: Helvetica; 
    border-color: #999;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

.cenImage {
    position: center;
}

.search {
    position: absolute;
}

.footer {
    position: fixed;
    bottom: 0;
}