
body {
    color: gray;
    font-family: arial, sans-serif;
    font-size: 13px;
}

div {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: purple;
    box-align: right;

}

.navbar {
    color: gray;  
    text-decoration: none; 
      
}    

li {
    float: left;
    list-style-type: none;
}

a {
    font-family: arial, sans-serif;
    font-size: 13px; 
    border-width: 0 0 0 0;
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 5px;
    color: gray;
    text-decoration: none;
}
.right {
    position: relative;
    left: 800px;
    clear: relative;
}

.central {
    position: relative;
    right: 800px; 
    bottom: 100px;
    height: 35%;
    width: 35%;
    margin: 0 auto;
    padding: 100px 10px 10px 10px;
}

#google {
    width: 90%;
    height: 75%;
}

.central2 {
    position: relative;
    right: 200px; 
    bottom: 10px;
    height: 100%;
    width: 40%;
    margin: 0 auto;
}

#search {
    width: 550px;
    height: 30px;
    padding: 3px 3px 3px 3px;
    margin: 15px 0 15px 0;    
    border-radius: 15px;
    border: 1px rgb(186, 186, 186) solid;
    color: gray;
    font-size: 16px;
}

#sbutton {
    width: 200px;
    height: 50px;
    padding: 3px;
    margin: 0 10px 10px 50px;
}

#lucky {
    position: relative;
    left: 250px;
    bottom: 28px;
    width: 200px;
    height: 50px;
    padding: 3px;
    margin: 0 0 10px 30px;
}

#ilink {
    position: relative;
    left: 800px;
    bottom: 100px;
    color: blue;
    text-decoration: underline;
    font-size: 15px;
    margin: 0 0 0 1px;
    z-index: 1000;
}
.footer {
    position: relative;
    bottom: 30px;
    left: 400px;
}

#chrome {
    width: 65px;
    height: 45px;

}
#icon {
    width: 45px;
    height: 45px;
    z-index: 5;
}



