* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "junicode", serif;
    color: #777;
}

.hero1, .hero2, .hero3 { 
        position: relative;
        opacity: 0.75;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

.hero1 {
    background-image: url("drno_poster4.jpg");
    height: 100%;
}

.hero2 {
    background-image: url("drno_poster2.jpg");
    height: 100%;
}

.hero3 {
    background-image: url("drno_poster.jpg");
    height: 100%;
} 

.title {
    position: absolute;
    left: 0;
    top: 50%;
    opacity: 1;
    width: 100%;
    text-align: center;
    color: #282E34;
}

.title span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    opacity: .95;
    font-size: 35px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #111;
}

/*Turns off parallax for tablets and phones 
@media only screen and (max-device-width: 1024px) {
    .hero1, .hero2, .hero3 {
        background-attachment: scroll;
    }
}
*/
.container {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    position: relative;
}


.row {
    display: flex;
    font-size: 18pt;
    text-align: center;
    color: black;
  }
  
  .column {
    flex: 50%;
    padding: 20px;
    margin: 10px;

  }

#jaws_logo {
    width: 30%;
    height: 30%;
    align-self: center;
    position: relative;
    left: 120px;
}

#oddjob_logo {
    width: 60%;
    height: 60%;
    position: relative;
    top: 30px;
    left: 100px;
}

ul li {
    display: inline;
    text-align: center;
}

nav {
    font-size: 13px;
    color: gray;
    width: 100%;
    line-height: 24px; 
    bottom: fixed;
}

#oddjob_newpost {
    position: absolute;
    bottom: 250px;
    padding: 0, 5px, 5px, 5px;
}
#jaws_newpost {
    position: relative;
    bottom: 300px;
    padding: 0, 5px, 5px, 5px;